.slot-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". . .";
}

.reel {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "." "." ".";
  }